<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
</head>
<body style="overflow-y: scroll;">
    <div class="top-nav">
        <div class="row" style="height: 100%;">
            <div class="col-sm-offset-1 col-sm-2" style="height: 100%;">
                <div style="float: left;">
                    <h4><span class="header-share">Share</span><span class="header-yourself">Yourself</span></h4>
                </div>
            </div>
            <div class="col-sm-offset-6 col-sm-2">
                @if (Request.IsAuthenticated)
                {
                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken();
                        <button type="submit" class="btn link-button" style="margin: auto;"><span class="glyphicon glyphicon-log-out"></span> Sign out</button>
                    }
                }
                else
                {
                    <h5>
                        <a href="@Url.Action("Login","Account")"><span class="glyphicon glyphicon-log-in"></span> Sign in</a><span> / </span>
                        <a href="@Url.Action("Register","Account")">Sign up</a>
                    </h5>
                }
            </div>
        </div>
    </div>
    <br>
    @if (Request.IsAuthenticated)
    {
        @Styles.Render("~/Content/BodyContent")
        <div class="container-wrapper">         
            <div class="row">
                <div class="col-sm-offset-2 col-sm-6">
                    <div> <!--div class main-content-container style="height: 1500px;-->
                        @RenderSection("Header", false)
                        @RenderSection("Styles", false)
                        @RenderSection("Scripts", false)
                        @RenderSection("Body", true)
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="main-content-container" style="width:92%;">
                        <a href="@Url.Action("ProfilePage", "UserProfile")"><div class="right-menu-element">My profile</div></a>
                        <a href="#"><div class="right-menu-element">Posts</div></a>
                        <a href="#"><div class="right-menu-element">Tag Cloud</div></a>
                        <a href="@Url.Action("EditUserProfile", "UserProfile")"><div class="right-menu-element">Edit</div></a>
                    </div>
                </div>
            </div>
        </div>
    }
    <br><br>
    @if (!Request.IsAuthenticated)
    {
    @RenderSection("Header", false)
    @RenderSection("Styles", false)
    @RenderSection("Scripts", false)
    @RenderSection("Body", true)
    }

</body>
</html>
