@using ShareYourself.WebUI.Models;
@using System.Globalization;
@model IEnumerable<UserPostViewModel>

@foreach (var post in Model)
{
<div class="main-content-container post-element">
    <div class="main-content-nested-container">
        @{ 
            DateTimeFormatInfo info = new DateTimeFormatInfo();
            string monthName = info.GetMonthName(post.CreationDate.Month).ToString();
            string year = "";
            if (post.CreationDate.Year != DateTime.Now.Year)
            {
                year = post.CreationDate.Year.ToString();
            }
        }
        <a href="@Url.Action("ProfilePage", "UserProfile", new { id = post.CreatorId })" target="_blank">
            <img src="@Url.Action("GetAvatar", "UserProfile", new { id = post.CreatorId })" class="userprofile-avatar-minimized">
        </a> 
        <span class="userprofile-info-key" style="font-size: large;">@post.Creator.Name @post.Creator.Surname</span>
        <span class="userprofile-info-value">, @post.CreationDate.Day @monthName @year</span>

            @{
                var spanId = $"likesSpan{post.Id}"; // Need to add the liked-button if user liked it
                var likeAjaxOptions = new AjaxOptions
                {
                    HttpMethod = "Post",
                    InsertionMode = InsertionMode.Replace,
                    UpdateTargetId = spanId
                };

                string nonZeroLikes = post.Likes == 0 ? "" : post.Likes.ToString();
            }
            @using (Ajax.BeginForm("Like", "Post", likeAjaxOptions, new { @class = "likes-form"}))
            {
                <input type="number" name="postId" value="@post.Id" hidden/>
                <button type="submit" class="likes-button">
                    <span class="glyphicon glyphicon-heart"></span>
                        <span id="@spanId">@nonZeroLikes</span>
                </button>
            }
    </div>

    <div class="main-content-nested-container">
        @foreach (var tag in post.Tags)
        {
            <a href="@Url.RouteUrl("TagPostsRoute", new { tag = tag })" target="_blank"> 
                <div class="tag">
                    @tag
                </div>
            </a>
        }
    </div>
        <hr class="non-margine">

    @{ 
        // Here is string formatting
    }
        <div class="main-content-nested-container">
            @post.Content.
        </div>
</div>
<br>
}


