@using ShareYourself.WebUI.Models
@model UserProfileEditingViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section Body{
    
    <div class="main-content-container">
        <div class="main-content-nested-container">
                <div class="main-content-nested-container">
                    <div class="userprofile-info"><h3>Profile editing</h3></div>
                    <hr> 
                    @using (Html.BeginForm("EditUserProfile", "UserProfile", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken();
                 <div class="row">
                    <div class="col-md-offset-2 col-md-8">
                        @Html.HiddenFor(x=>x.Id)
                        <span class="userprofile-info-key">@Html.DisplayNameFor(x => x.Name) </span>
                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @value = Model.Name })
                        @Html.ValidationMessageFor(x => x.Name)
                        <span class="userprofile-info-key">@Html.DisplayNameFor(x => x.Surname) </span>
                        @Html.TextBoxFor(x => x.Surname, new { @class = "form-control", @value = Model.Surname })
                        @Html.ValidationMessageFor(x => x.Surname)
                        <span class="userprofile-info-key">@Html.DisplayNameFor(x => x.Status) </span>
                        @Html.TextAreaFor(x => x.Status, new { @class = "form-control", @value = Model.Status, @rows = 3, @style = "resize: none;" })
                        @Html.ValidationMessageFor(x => x.Status)

                        <span class="userprofile-info-key">@Html.DisplayNameFor(x => x.IsMale) </span><br>                       
                            @if (Model.IsMale != null)
                            { // Somewhere in this form ViewBag.ResultMessage should be added
                                if ((bool)Model.IsMale)
                                {
                                    <input type="radio" name="@Html.NameFor(x => x.IsMale)" id="isMailTrue" value=true checked><span class="userprofile-info-value"> Male</span><br>
                                    <input type="radio" name="@Html.NameFor(x => x.IsMale)" id="isMailFalse" value=false><span class="userprofile-info-value"> Female</span><br>
                                }
                                else
                                {
                                    <input type="radio" name="@Html.NameFor(x => x.IsMale)" id="isMailTrue" value=true><span class="userprofile-info-value"> Male</span><br>
                                    <input type="radio" name="@Html.NameFor(x => x.IsMale)" id="isMailFalse" value=false checked><span class="userprofile-info-value"> Female</span><br>
                                }
                                @Html.ValidationMessageFor(x => x.IsMale)
                            }
                            else
                            {
                                <input type="radio" name="@Html.NameFor(x => x.IsMale)" id="isMailTrue" value=true><span class="userprofile-info-value"> Male</span><br>
                                <input type="radio" name="@Html.NameFor(x => x.IsMale)" id="isMailFalse" value=false><span class="userprofile-info-value"> Female</span><br>
                            }
                    </div>
                 </div>
                    <hr>
                    <button type="submit" class="btn btn-default base-button-hover base-button">Save</button>
                    <button type="reset" class="btn btn-default base-button-hover base-button">Reset</button>
                    }
            </div>
        </div>   
       </div>
    }

