@using ShareYourself.WebUI.Models
@model EditUserProfileViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section Body{
    
    <div class="main-content-container">
        <div class="main-content-nested-container">
                <div class="main-content-nested-container">
                    <div class="userprofile-info"><h3>Profile editing</h3></div>
                    <hr>               
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                        <span class="userprofile-info-key">@Html.DisplayNameFor(x => x.Name) </span>
                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control", @value = Model.Name })
                        @Html.ValidationMessageFor(x => x.Name)
                        <span class="userprofile-info-key">@Html.DisplayNameFor(x=>x.Surname) </span>
                        @Html.TextBoxFor(x => x.Surname, new { @class = "form-control", @value = Model.Surname })
                        @Html.ValidationMessageFor(x => x.Surname)
                        <span class="userprofile-info-key">@Html.DisplayNameFor(x => x.Status) </span>
                        @Html.TextAreaFor(x => x.Status, new { @class = "form-control", @value = Model.Status, @rows = 3, @style = "resize: none;" })
                        @Html.ValidationMessageFor(x => x.Status)
                    </div>
                </div>
            </div>
        </div>   
       </div>
    }

