@using ShareYourself.WebUI.Models
@model UserProfileHomeViewModel
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section Body{    
    <div class="main-content-container">
      <div class="main-content-nested-container">
        <div class="row">

            <div class="col-md-4">
                <img src="@Url.Action("GetAvatar", "UserProfile", new { id = Model.Id })" class="userprofile-avatar">
                <button class="btn btn-default upload-avatar-button" data-toggle="modal" data-target="#uploadAvatarModal">Upload avatar</button>
            </div>

            <div class="col-md-offset-1 col-md-7">
                <div class="userprofile-info">
                    <div id="userProfileId" hidden>@Model.Id</div>
                    <h3>@Model.Name @Model.Surname</h3>
                        <div class="userprofile-info-value">@Model.Status</div>                 
                    <hr>
                    <span class="userprofile-info-key">E-mail: </span><span class="userprofile-info-value"> @Model.Email</span><br>
                    <span class="userprofile-info-key">Gender: </span>
                        @{ 
                            string genderResult = "Not selected";

                            if(Model.IsMale != null)
                            {
                                if ((bool)Model.IsMale)
                                {
                                    genderResult = "Male";
                                }
                                else
                                {
                                    genderResult = "Female";
                                }
                            }
                        }
                    <span class="userprofile-info-value">@genderResult</span><br>
                    @{ 
                        var result = "";
                        var interval = DateTime.Now - Model.RegistrationDate;

                        if((int)interval.TotalDays != 0)
                        {
                            result += $"{(int)interval.TotalDays} days and {(int)interval.TotalHours} hours";
                        }
                        else
                        {
                            result += $"{(int)interval.TotalHours} hours";
                        }
                    }
                    <span class="userprofile-info-key">How long registered: </span><span class="userprofile-info-value"> @result</span><br>
                </div>
            </div>

           </div>
        </div>
    </div>

    <br>

<!-- Modal {enctype = "multipart\form-data"} -->
<div id="uploadAvatarModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span class="userprofile-info-key">Upload a new avatar</span></h4>
            </div>
                @using (Html.BeginForm("EditUserAvatar", "UserProfile", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                <div class="modal-body modal-body-content">              
                 <input type="file" id="Avatar" name="image" accept="image/jpeg, image/png" />              
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-default base-button base-button-hover">Update</button>
                <button type="button" class="btn btn-default base-button base-button-hover" data-dismiss="modal">Close</button>
            </div>
                }
        </div>

    </div>
</div>

    }

