@using ShareYourself.WebUI.Models
@model UserProfileHomeViewModel
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@section Styles{
    @Styles.Render("~/Content/Post.css")
    }

@section Scripts{
    
<script src="~/Scripts/jquery.autosize.min.js"></script>
@Scripts.Render("~/bundles/PostsInteraction")

    <script>
        $(function () {
            $('textarea').autosize();

           /* if (getPostsCountOnThePage() == 0) {
                $('#show-next-posts-form-container').hide();
                showElement('nonExistPostsContainer');
            }*/
        });

        function openPostForm() {
            $('#createNewPost').hide();
            $('#postCreationContainer').show();
        }

        function closePostForm() {
            $('#createNewPost').show();
            $('#postCreationContainer').hide();
        }
    </script>   
    }

@section Body{    
    <div class="main-content-container">
      <div class="main-content-nested-container">
        <div class="row">

            <div class="col-md-4">
                <img src="@Url.Action("GetAvatar", "UserProfile", new { id = Model.Id })" class="userprofile-avatar">
                <button class="btn btn-default upload-avatar-button" data-toggle="modal" data-target="#uploadAvatarModal">Upload avatar</button>
            </div>

            <div class="col-md-offset-1 col-md-7">
                <div class="userprofile-info">
                    <div id="userProfileId" hidden>@Model.Id</div>
                    <h3>@Model.Name @Model.Surname</h3>
                        <div class="userprofile-info-value">@Model.Status</div>                 
                    <hr>
                    <span class="userprofile-info-key">E-mail: </span><span class="userprofile-info-value"> @Model.Email</span><br>
                    <span class="userprofile-info-key">Gender: </span>
                        @{ 
                            string genderResult = "Not selected";

                            if (Model.IsMale != null)
                            {
                                if ((bool)Model.IsMale)
                                {
                                    genderResult = "Male";
                                }
                                else
                                {
                                    genderResult = "Female";
                                }
                            }
                        }
                    <span class="userprofile-info-value">@genderResult</span><br>
                    @{ 
                        var result = "";
                        var interval = DateTime.Now - Model.RegistrationDate;

                        if ((int)interval.TotalDays != 0)
                        {
                            result += $"{(int)interval.TotalDays} days and {(int)interval.TotalHours - (int)interval.TotalDays * 24} hours";
                        }
                        else
                        {
                            result += $"{(int)interval.TotalHours} hours";
                        }
                    }
                    <span class="userprofile-info-key">How long registered: </span><span class="userprofile-info-value"> @result</span><br>
                </div>
            </div>

           </div>
        </div>
    </div>
    <br>
    @if (HttpContext.Current.User.Identity.Name == Model.Email)
    {
        { Html.RenderPartial("~/Views/UserProfile/PostPublicationPartial.cshtml"); }
        { Html.RenderPartial("~/Views/UserProfile/UploadAvatarPartial.cshtml"); }
        <img src="@Url.Content("~/Content/loadingElement.gif")" style="display: none;" id="loadingElement">
    }

    @{ 
        int countOfPostsToTake = 2;
        var getPostsAjaxOptions = new AjaxOptions
        {
            InsertionMode = InsertionMode.InsertAfter,
            HttpMethod = "Get",
            UpdateTargetId = "posts",
            OnSuccess = "showNextPostsFormOnSuccess"
        };
    }

    <div id="createdPosts"></div>

    @{Html.RenderAction("GetPosts", "Post", new { userId = Model.Id, skip = 0, count = countOfPostsToTake});}

    <div id="posts"></div>

    <div class="main-content-nested-container" id="show-next-posts-form-container">
        @using (Ajax.BeginForm("GetPosts", "Post", getPostsAjaxOptions))
        {
           <input type="number" value="@Model.Id" name="userId" hidden>
            <input type="number" name="skip" id="input-skip"  hidden>
             <input type="number" value="@countOfPostsToTake" name="count" hidden>

           <button type="submit" class="show-next-posts-button" onclick="inputSkipInit('input-skip')"><span class="glyphicon glyphicon-chevron-down"></span></button>
        }
    </div>   
}

